[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ch4ng3_m3/Desktop/org.remmina.Remmina.desktop]
row=2
col=1

[/home/ch4ng3_m3/Desktop/firefox-esr.desktop]
row=2
col=2

[/home/ch4ng3_m3/Desktop/kali-burpsuite.desktop]
row=1
col=2

[/home/ch4ng3_m3/Desktop/kali-obsidian.desktop]
row=0
col=2

[/home/ch4ng3_m3/Desktop/xfce4-terminal-emulator.desktop]
row=2
col=0

[/home/ch4ng3_m3/Desktop/code.desktop]
row=1
col=1

[Trash]
row=0
col=1

[/]
row=1
col=0

[/home/ch4ng3_m3]
row=0
col=0

