[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/ch4ng3_m3/Desktop/Firefox.desktop]
row=0
col=2

[/home/ch4ng3_m3/Desktop/Remmina.desktop]
row=0
col=1

[/home/ch4ng3_m3/Desktop/org.gnome.gedit.desktop]
row=1
col=1

[/home/ch4ng3_m3/Desktop/Terminal.desktop]
row=1
col=2

[/home/ch4ng3_m3/Desktop/BurpSuite.desktop]
row=2
col=1

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/ch4ng3_m3]
row=2
col=0

